{% extends 'waitestapp/base_site.html' %}
{% load static %}
{% block content %}
<div >
	<div style="padding-right:104px; padding-bottom:20px;">
		<ul class="nav nav-tabs pull-right">		  
		  <li class="active"><a href="/waitapp/scenario/4" data-toggle="tab">Scenario</a></li>		 
		  <li ><a href="/waitapp/results" >Current Input</a></li>
		</ul>
		<br>
	</div>
	 <div class="container">

		  <!-- Main component for a primary marketing message or call to action -->
		  <div class="jumbotron">
			<ul class="pager pull-right">
				<li><a href="/waitapp/scenario/3/">Previous</a></li>
				<li><a href="/waitapp/scenario/5/">Next</a></li>
			</ul>
			
			<h3>Scenario: Physician Continuity Rules</h3>
			<p>Enter rules for patient-physician continuity:</p>
			<br>
			<!-- Rule Form -->
			<form>
				<label>Default continuity strategy:</label>
				<select>
					<option>Share</option>
					<option>Do Not Share</option>
				</select>		
			</form>
			<br>
		
			<form class="contRuleBox">
				<div  style="padding-bottom:10px;">
					<input class="contRule" type="checkbox" name="gender" value="Gender"> &nbsp;Gender:
					<select class="contRule" >
						<option>M</option>
						<option>F</option>
					</select>
				</div>
				<div style="padding-bottom:10px;">
					<input class="contRule"  type="checkbox" name="agerange" value="Age Range"> &nbsp;Age Range: &nbsp;
					<input class="contRule"  type="text" placeholder="0-100" style="max-width:45px;">
				</div>
				<div class="contRule" style="padding-bottom:10px;">
					<input class="contRule"  type="checkbox" name="condrange" value="# Chronic Conditions"> &nbsp; # Conditions:
					<input class="contRule"  type="text" placeholder="0-100" style="max-width:45px;">
				</div>
				<div class="contRule" style="padding-bottom:10px;">
					<input class="contRule" type="checkbox" name="visit" value="Visit Type"> &nbsp; Visit Type:
					<select class="contRule"  style="width:100px;">
						<option>Acute</option>
						<option>Preventative</option>
						<option>Chronic</option>
					</select>
				</div>
				<div  style="padding-bottom:10px;">
					<input class="contRule"  type="checkbox" name="continuity" value="Continuity"> &nbsp; Continuity:
					<select class="contRule"  style="width:100px;">
						<option>Share</option>
						<option>Do Not Share</option>
					</select>
				</div>
								
			</form>
					
			<div >							
				<button id="addContRule" class="btn btn-primary" style="margin-top:20px;" >Add Rule</button>						
			</div>
		
		
		<br>    
		
		<!-- File input widget -->
		<div>
			<div id="file_input">
				<label>Or, upload text file:</label>		
				<div class="input-group">
					<span class="input-group-btn">
						<span class="btn btn-primary btn-file">
							Browse&hellip; <input type="file">
						</span>
					</span>
					<div>
					<input type="text" class="form-control" style="width:300px">
					&nbsp;&nbsp;
					<button type="button" class="btn btn-primary" style="display:inline; ">Load File</button>
					</div>
				</div>			
			</div>    
		</div>
		

	<br>
	<button id="toggleTable" type="button" class="btn btn-primary">Show Table</button>
	<br>
	<div id="tableDiv">
	<table id="contRuleTable">
		<thead>
			<tr>
				<th data-field="state" data-checkbox="true"></th>
				<th data-field="patname">Rule</th>
				<th data-field="gender">Continuity</th>			
			</tr>
		</thead>
		<tbody>
		<tr>
			<td></td>
			<td>Gender:M AND Age:0-9 AND Visit:Acute</td>
			<td>Share</td>   	
		</tr>    
		</tbody>
	</table>
	<button class="btn btn-default" id="remove-data" data-method="remove">
			Clear Selected Rows
	</button>
	</div>
	</div>
	</div>
</div>
 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<!-- script for file upload functionality -->    
<script language="javascript">
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
	  numFiles = input.get(0).files ? input.get(0).files.length : 1,
	  label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
	$('.btn-file :file').on('fileselect', function(event, numFiles, label) {
		
		var input = $(this).parents('.input-group').find(':text'),
			log = numFiles > 1 ? numFiles + ' files selected' : label;
		
		if( input.length ) {
			input.val(log);
		} else {
			if( log ) alert(log);
		}
		
	});
});
</script>

<!-- bootstrap table script -->
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>

<!--table functionality and toggle show/hide table script -->
<script language="javascript">
//set table properties
$('#contRuleTable').bootstrapTable({
    cache: false,	
	height: 400,
	striped: true,
	pagination: true,
	pageSize: 50,
	pageList: [10, 25, 50, 100, 200],		
	clickToSelect: true,
});


//add to table with addAff button
$('#addContRule').click(function () {
	//get form values in array
	var fields = $( ".contRule" ).serializeArray();
	var row = "<tr><td></td><td>"
    jQuery.each( fields, function( i, field ) {
      row = row + ( " " + field.value + " " );
    });
	row =  row + ("</td></tr></td><td>")
	
	//alert(row);
	
	$('#contRuleTable').bootstrapTable('destroy')
	$('#contRuleTable').append(row);
	$('#contRuleTable').bootstrapTable({
		cache: false,
		height: 400,
		striped: true,
		pagination: true,
		pageSize: 50,
		pageList: [10, 25, 50, 100, 200],		
		clickToSelect: true,
	});
	$('#patname').val($('#pname').attr('placeholder'))	
});
	

//delete selected rows button
$('#remove-data').click(function () {
	var selects = $('#patTable').bootstrapTable('getSelections');
		states = $.map(selects, function (row) {
			return row.state;
		});

	$('#patTable').bootstrapTable('remove', {
		field: 'state',
		values: states
	});
});

$(document).ready(function(){
 //var $table = $("#provTable");
   
  $("#tableDiv").hide();
  $("#toggleTable").click(function(){
    var button_name = $("#toggleTable").text();
    if (button_name == "Show Table") {
        $("#toggleTable").text("Hide Table") 
    }
    else {
        $("#toggleTable").text("Show Table")
    }        
    $("#tableDiv").toggle();
  });
});
</script>

{% endblock %} 
