{% extends 'waitestapp/base_site.html' %}
{% block content %}
 <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Enter Capacity Data</h1>
        <p>This application takes data about your practice and computes estimates of the wait time for different patient types and different doctors</p>
        <p>Launch the app below and begin entering data about your staff, policies, and patient composition.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/waitapp-1/" role="button">Launch Wait Estimator &raquo;</a>
        </p>
      </div>

    </div>
{% endblock %} 
